@charset "UTF-8";

* {
  color: #020826;
}
a {
  color: #8c7851;
  text-decoration: none;
}
body {
  background: #f9f4ef;
  margin: 0;
}

main {
  /* margin-top: 150px; */
  padding-top: 15px;
}
  /*  */
  .header {
    /* position: fixed; */
    margin-bottom: 10px;
    top: 0;
    z-index: 4;
    width: 100%;
    background-color: #020826;
    box-shadow: 0 5px 10px -6px rgba(0,0,0,.1);
  }
  
  .header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
  }
  
  .header-logo {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin-right: 2px;
    letter-spacing: .05em;
  }
  
  .header-logo a {
    color: #fffffe;
    text-decoration: none;
  }
  
  .header-nav-list {
    display: flex;
    justify-content: space-between;
  }
  
  .header-nav-item:not(:last-child) {
    margin-right: 20px;
  }
  
  .header-nav-item a {
    position: relative;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    padding: 5px 0;
    transition: .3s;
    letter-spacing: .05em;
    color: #fffffe;
  }
  .header-nav-item a:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    content: "";
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fffffe;
  }
  
  .header-nav-item a:hover:after {
    width: 100%;
  }
  .imggazo {
    max-width: 20%;
  }

/* .back {
    padding-left: 1vh;
    padding-bottom: 2vh;
    background-color: rgb(154, 226, 106);
} */
/* .back img {
    padding-right: 0.5vh;
    height: 5vh;
    position: relative;
    top: 1vh;
} */
h2 {
  margin-left: 10px;
}
.types {
    background-color: #eaddcf;
    color: #020826;
    text-align: center;
    border-radius: 100px;
}
li a:hover {
  color: #f25042;
}

/*--------------------------------
 ページトップ
--------------------------------- */
.page-top {
  font-weight: bold;
  padding: 10px;
  margin-top: 500px;
  cursor: pointer;
  text-align: center;
  background-color: #4c4c4c;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #333;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}
.pagetop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}